body {

  color: green;

}


.marketing {

  a {

    &:link, &:active, &:visited {
      color: $brand-warning;
    }

    &:hover {
    color: $brand-success;
  }
}

  p {
    color: $brand-primary;
  }

}

.container .jumbotron {

  @include border-top-radius(0px);
  @include border-bottom-radius(50px);

}
